<section class="main_user text-center container">

    <%if(prod.name!==undefined){%>

    <section class="main_user text-center container">

        Has seleccionado el producto<br>
        <%=prod.name %> <br>
        <%=prod.prices.listPrice%> <br>
        <%=prod.prices.offerPrice%> <br>
        Se intento el SKU <%=actSKU%>

        <div class="outfit row flex-center">
            <div class="col-9">
                <img src="https:<%=prod.fullImage%>" class="img-fluid" />
            </div>
            <div class="col-3 checklist">
                <img src="/assets/img/tshirt.svg"> <i id="shirt" class="far fa-square"></i><br><br>
                <img src="/assets/img/shorts.svg"> <i id="shorts" class="far fa-square"></i><br><br>
                <img src="/assets/img/shoe.svg"> <i id="shoe" class="far fa-square"></i><br><br>
                <img src="/assets/img/watch.svg"> <i id="watch" class="far fa-square"></i>
            </div>
        </div>
        <br> <br><a href="">
            <div class="flex-center">

                <img src="/assets/img/luz.png" alt="bulb" class="light">
                <div id="light-text">
                    Puedes cambiar la iluminación de tu habitación
                </div>
            </div>
        </a><br>
        <a href="/probador/<%=actID%>/end"><button class="btn btn-purple btn-lg">FINALIZAR</button></a>


        <%} else {%>
        RIP
        <%}%>
        
    </section>
</section>