Has seleccionado<br>

<%if(prod.name!==undefined){%>
<div><img src="https:<%=prod.fullImage%>"/></div>

<%=prod.name %>
<%=prod.prices.formattedListPrice%>
<%=prod.prices.formattedOfferPrice%>
<%} else {%>
    RIP
<%}%>

Se intento el SKU <%=actSKU%>
<br>
Ambiente
<a href="/probador/<%=actID%>/end">finalizar</a>