Has seleccionado el producto<br>
<%=prod %>
<%=prod.name %>
<%=prod.prices.listPrice%>
<%=prod.prices.offerPrice%>
Se intento el SKU <%=actSKU%>

Ambiente

Aqui puedo generar los qr necesarios
<a href="/probador/<%=actID%>/end">finalizar</a>