
Has seleccionado<br>


<%if(prod.name!==undefined){%>
    
    Has seleccionado el producto<br>
    <%=prod.name %>
    <%=prod.prices.formattedListPrice%>
    <%=prod.prices.formattedOfferPrice%>

<section class="main_user text-center container">


    <a href="/">
    <div class="ligh-div flex-center">
        <i class="far fa-lightbulb"></i>
    </div></a><br>
    <div class="outfit row flex-center">
        <div class="col-10">
                <img src="https:<%=prod.fullImage%>"/>
        </div>
        <div class="col-2 checklist">
            <i class="far fa-square"></i><br><br>
            <i class="far fa-square"></i><br><br>
            <i class="far fa-square"></i><br><br>
            <i class="far fa-square"></i>
        </div>
    </div>
    <br> <br>
    <a href="/probador/<%=actID%>/end"><button class="btn btn-purple btn-lg">FINALIZAR</button></a>
</section>

<%} else {%>
    RIP
<%}%>

Se intento el SKU <%=actSKU%>
<br>
Ambiente

<a href="/probador/<%=actID%>/end">finalizar</a>
