<h2>Reporte de contacto</h2>

<%=contact.topic%><br>

Busqueda de contacto para LR: <%= contact.name %><br>
mail - telefono <%=contact.email%> - <%=contact.phone%><br>
Desde:<br>
<%=contact.city%><br>
<%=contact.country%><br>
<br>
Mensaje<br>
<%=contact.message%>